/.obsidian
/Learning/class 
/project/Alpha
/project/Android
/project/IOT
/project/OpenHarmony
/Learning/out_class/control
/Learning/out_class/方向/
/Learning/out_class/book

**/pic/
*.excalidraw.md
/Learning/out_class/algorithm/C_base.md


