/.obsidian
/Learning/class/DSP
/Learning/class/最优化
/Learning/class/机器人
/Learning/class/计算机网络

/project/Alpha
/project/Android
/project/IOT
/project/OpenHarmony
/Learning/out_class/control
/Learning/out_class/方向/
/Learning/out_class/book

**/pic/
*.excalidraw.md
*.canvas
/Learning/out_class/algorithm/C_base.md


